.registration-page {
  .registration-header {
    text-align: center;
  }

  .registration-card {
    margin-top: 1.5rem;
  }

  .registration-existing-user {
    margin-top: 1rem;
    font-size: 1rem;
  }
}
